@import '../.././libs/_variables';
// @import '../.././libs/_fonts';
.button {
	padding: 0 2%;
	a {
		@extend %button;
	}
}
.container {
	display: flex;
	justify-content: center;
	& nav ul {
		flex-wrap: nowrap;
	}
}
.hide {
	display: none;
}
