@import '.././libs/_variables';
@import '.././libs/_normalize';

body {
	background-color: $background !important;
}

.wrapper {
	width: calc(100vw - 10%);
	height: 100%;
	background-color: #fff;
	margin: 50px auto;
	border-radius: 10px;
	max-width: 1400px;
	position: relative;
}

.content {
	padding-bottom: 40px;
}
.contentTitle {
	margin: 35px 0;
}

.contentItems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contentTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	@extend %container;
	&--cart {
		max-width: 820px;
		margin: 90px auto;
		.content__title {
			margin: 0;
		}
	}
}
@media screen and (max-width: 768px) {
	.wrapper{
		width: calc(100vw - 5%);
	}
}
@media screen and (max-width: 425px) {
	.wrapper{
		width: 100%;
		margin: 0
	}
}